<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.daeun.notification.mapper.NotificationMapper">

    <insert id="insertNotification" parameterType="kr.co.daeun.notification.dto.NotificationDTO">
        INSERT INTO NOTIFICATION
        (event_type,
        channel_type,
        recipient_key,
        recipient_value,
        title,
        body,
        idempotency_key,
        status,
        retry_cnt,
        created_at)
        values
        (#{eventType}, #{channelType}, #{recipientKey},
        #{recipientValue}, #{title}, #{body},
        #{idempotencyKey}, #{status}, #{retryCnt}, SYSDATE)
    </insert>

    <select id="findByIdempotencyKey" resultType="kr.co.daeun.notification.dto.NotificationDTO">
        SELECT * FROM NOTIFICATION
        WHERE idempotency_key=#{idempotencyKey}
    </select>

    <select id="findByNotificationId" resultType="kr.co.daeun.notification.dto.NotificationDTO">
        SELECT * FROM NOTIFICATION
        WHERE notification_id=#{notificationId}
    </select>

    <select id="findDeliveryAttemptsByNotId" resultType="kr.co.daeun.notification.dto.DeliveryAttemptDTO">
        SELECT * FROM DELIVERY_ATTEMPT
        WHERE notification_id=#{notificationId}
    </select>



    <select id="findNextProcessTarget" resultType="kr.co.daeun.notification.dto.NotificationDTO">
        SELECT
        notification_id,
        event_type,
        channel_type,
        recipient_key,
        recipient_value,
        title,
        body,
        idempotency_key,
        status,
        retry_cnt,
        max_retry_cnt,
        next_retry_at,
        last_error_code,
        last_error_message,
        created_at,
        processing_started_at,
        sent_at
        FROM (
            SELECT
            notification_id,
            event_type,
            channel_type,
            recipient_key,
            recipient_value,
            title,
            body,
            idempotency_key,
            status,
            retry_cnt,
            max_retry_cnt,
            next_retry_at,
            last_error_code,
            last_error_message,
            created_at,
            processing_started_at,
            sent_at
            FROM NOTIFICATION
            WHERE status = 'PENDING'
            OR (status = 'RETRY_SCHEDULED' AND next_retry_at &lt;= SYSTIMESTAMP)
            ORDER BY created_at
        )
        WHERE ROWNUM = 1
    </select>

    <update id="updateStatusToInProgress">
        UPDATE NOTIFICATION
        SET status = 'IN_PROGRESS'
        WHERE notification_id = #{notificationId}
          AND status = #{currentStatus}
    </update>

    <update id="updateNotificationSuccess">
        UPDATE NOTIFICATION
        SET status = 'SENT',
            sent_at = SYSTIMESTAMP,
            last_error_code = NULL,
            last_error_message = NULL
        WHERE notification_id = #{notificationId}
    </update>

    <update id="updateNotificationRetry">
        UPDATE NOTIFICATION
        SET status = 'RETRY_SCHEDULED',
            retry_cnt = #{retryCnt},
            next_retry_at = #{nextRetryAt},
            last_error_code = #{lastErrorCode},
            last_error_message = #{lastErrorMessage}
        WHERE notification_id = #{notificationId}
    </update>

    <update id="updateNotificationDeadLetter">
        UPDATE NOTIFICATION
        SET status = 'DEAD_LETTER',
            retry_cnt = #{retryCnt},
            last_error_code = #{lastErrorCode},
            last_error_message = #{lastErrorMessage}
        WHERE notification_id = #{notificationId}
    </update>

    <insert id="insertDeliveryAttempt" parameterType="kr.co.daeun.notification.dto.DeliveryAttemptDTO">
        INSERT INTO DELIVERY_ATTEMPT
        (
        notification_id,
        attempt_no,
        attempt_status,
        started_at,
        finished_at,
        error_code,
        error_message
        )
        VALUES
        (
        #{notificationId},
        #{attemptNo},
        #{attemptStatus},
        #{startedAt},
        #{finishedAt},
        #{errorCode},
        #{errorMessage}
        )
    </insert>

    <!-- 수동 재처리 -->
    <update id="updateStatusForManualRetry">
        UPDATE NOTIFICATION
        SET status = 'PENDING',
            next_retry_at = NULL,
            last_error_code = NULL,
            last_error_message = NULL,
            updated_at = SYSTIMESTAMP
        WHERE notification_id = #{notificationId}
          AND status = #{currentStatus}
    </update>

    <insert id="insertAdminActionLog" parameterType="kr.co.daeun.notification.dto.AdminActionLogDTO">
        INSERT INTO ADMIN_ACTION_LOG
        (
        notification_id,
        admin_id,
        action_type,
        action_reason,
        created_at
        )
        VALUES
        (
        #{notificationId},
        #{adminId},
        #{actionType},
        #{actionReason},
        SYSTIMESTAMP
        )
    </insert>

    <select id="getNotificationStatsSummary" resultType="kr.co.daeun.notification.dto.NotificationStatsRespDTO">
        SELECT
        COUNT(*) AS totalCnt,
        NVL(SUM(CASE WHEN status = 'PENDING' THEN 1 ELSE 0 END), 0) AS pendingCnt,
        NVL(SUM(CASE WHEN status = 'IN_PROGRESS' THEN 1 ELSE 0 END), 0) AS inProgressCnt,
        NVL(SUM(CASE WHEN status = 'SENT' THEN 1 ELSE 0 END), 0) AS sentCnt,
        NVL(SUM(CASE WHEN status = 'RETRY_SCHEDULED' THEN 1 ELSE 0 END), 0) AS retryScheduledCnt,
        NVL(SUM(CASE WHEN status = 'DEAD_LETTER' THEN 1 ELSE 0 END), 0) AS deadLetterCnt
        FROM NOTIFICATION
        WHERE created_at &gt;= #{from}
        AND created_at &lt; #{to}
    </select>

    <select id="getChannelStats" resultType="kr.co.daeun.notification.dto.ChannelStatsRespDTO">
        SELECT
        channel_type AS channelType,
        COUNT(*) AS totalCnt,
        NVL(SUM(CASE WHEN status = 'PENDING' THEN 1 ELSE 0 END), 0) AS pendingCnt,
        NVL(SUM(CASE WHEN status = 'IN_PROGRESS' THEN 1 ELSE 0 END), 0) AS inProgressCnt,
        NVL(SUM(CASE WHEN status = 'SENT' THEN 1 ELSE 0 END), 0) AS sentCnt,
        NVL(SUM(CASE WHEN status = 'RETRY_SCHEDULED' THEN 1 ELSE 0 END), 0) AS retryScheduledCnt,
        NVL(SUM(CASE WHEN status = 'DEAD_LETTER' THEN 1 ELSE 0 END), 0) AS deadLetterCnt
        FROM NOTIFICATION
        WHERE created_at &gt;= #{from}
        AND created_at &lt; #{to}
        GROUP BY channel_type
        ORDER BY channel_type
    </select>

    <select id="getNotificationList" parameterType="kr.co.daeun.notification.dto.NotificationListSearchDTO" resultType="kr.co.daeun.notification.dto.NotificationListItemDTO">
        SELECT
        notification_id,
        event_type,
        channel_type,
        recipient_key,
        status,
        retry_cnt,
        last_error_code,
        last_error_message,
        created_at
        FROM NOTIFICATION
        WHERE 1 = 1
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="channelType != null">
            AND channel_type = #{channelType}
        </if>
        ORDER BY created_at DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <select id="getNotificationListTotalCnt" parameterType="kr.co.daeun.notification.dto.NotificationListSearchDTO" resultType="int">
        SELECT COUNT(*)
        FROM NOTIFICATION
        WHERE 1 = 1
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="channelType != null">
            AND channel_type = #{channelType}
        </if>
    </select>

    <select id="findAdminActionsByNotificationId"
            resultType="kr.co.daeun.notification.dto.AdminActionLogDTO">
        SELECT
            log_id,
            notification_id,
            admin_id,
            action_type,
            action_reason,
            created_at
        FROM ADMIN_ACTION_LOG
        WHERE notification_id = #{notificationId}
        ORDER BY created_at DESC
    </select>

</mapper>